.individualCard {
  background-color: #f2f2f2;
  margin: 20px;
  border-radius: 15px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 200px;
  height: 238px;
  background: #f2f2f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;

  img {
    width: 8px;
  }

  @media only screen and (max-width: 667px) {
    .individualCard {
      font-size: 18px;
      height: 100px;
      width: 450px;
    }
  }

  a {
    text-decoration: none;
    color: black;

    strong {
      display: flex;
      padding: 20px;
      justify-content: center;
    }
    .topic {
      width: 200px;
      height: 64px;
      background: #fbe5e5;
      border-radius: 15px 15px 0px 0px;
      margin: 0px;
    }
    .content {
      text-align: center;
      font-weight: bold;
      color: #414141;
      .description {
        font-weight: bold;
      }
    }
  }
}
