.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background-color: #ffccbc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  p {
    font-size: 14px;
  }
}
