.portfolioWrapper {
  width: 100vw;

  .arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 24px;
      font-family: "DM Sans", sans-serif;
      padding: 50px;
      @media only screen and (max-width: 667px) {
        padding: 0px;
        padding-left: 20px;
      }
    }
    a {
      padding: 50px;
      margin-right: 100px;
      color: black;
      @media only screen and (max-width: 667px) {
        padding-left: 20px;
        padding: 0px;
      }
    }

    @media only screen and (max-width: 667px) {
    }
  }

  .cardWrapper {
    margin: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100vw;
    justify-content: center;

    @media only screen and (max-width: 667px) {
      margin: 0px;
    }
  }
}
